sencha{
    --dark-mode:false;
    --base-color:#2196f3;
    --base-highlight-color:#64b5f6;
    --base-light-color:#bbdefb;
    --base-dark-color:#1976d2;
    --base-pressed-color:#6ab8f7;
    --base-focused-color:#42a5f5;
    --base-invisible-color:rgba(33, 150, 243, 0);
    --base-foreground-color:#fff;
    --accent-color:#ff9800;
    --accent-light-color:#ffe0b2;
    --accent-dark-color:#f57c00;
    --accent-pressed-color:#ffb74d;
    --accent-invisible-color:rgba(255, 152, 0, 0);
    --accent-foreground-color:#222;
    --confirm-color:#7cb342;
    --confirm-pressed-color:#a2cc75;
    --alert-color:#c62828;
    --alert-pressed-color:#de5c5c;
    --color:#111;
    --reverse-color:#fff;
    --highlight-color:rgba(17, 17, 17, 0.54);
    --disabled-color:rgba(17, 17, 17, 0.38);
    --reverse-disabled-color:rgba(255, 255, 255, 0.38);
    --divider-color:#e2e2e2;
    --selected-background-color:#e0e0e0;
    --hovered-background-color:#eee;
    --header-background-color:#f5f5f5;
    --faded-color:#e1e1e1;
    --background-color:#fafafa;
    --alt-background-color:#f5f5f5;
    --reverse-background-color:#303030;
    --reverse-alt-background-color:#3a3a3a;
    --overlay-color:rgba(0, 0, 0, 0.03);
    --content-padding:16px;
    --listitem-selected-background-color:#e0e0e0;
    --reverse-border-color:#e0e0e0;
    --reverse-alt-border-color:#e0e0e0
}
.ngx-datatable.cmars {
    box-shadow: none;
    background: #efefef;
    /*외곽선*/
    border: 1px solid #efefef;
    /*글자색*/
    color: #111;
    font-size: 13px;
}

/*datatable-header*/
.ngx-datatable.cmars .datatable-header {
    background: orange;
    color: white;
}

.ngx-datatable.cmars .datatable-header .datatable-header-cell {
    text-align: left;
    padding: .3rem 1rem;
    font-weight: bold;
}

.ngx-datatable.cmars .datatable-header .datatable-header-cell .datatable-header-cell-label {
    line-height: 22px;
}

/*datatable-body*/
.ngx-datatable.cmars .datatable-body {

    /*background: #1a1e28;  바탕색*/
    background: #fafafa;
}

.ngx-datatable.cmars .datatable-body .datatable-body-row {
    /*줄 색*/
    /*border-top: 1px solid #fff;*/
    border-top: 1px solid #e2e2e2;
}

.ngx-datatable.cmars .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: 0.2rem 1.2rem;
    vertical-align: top;
}

.ngx-datatable.cmars .datatable-body .datatable-body-row:hover {
    /*background: #171b24;*/
    background: #eee;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.ngx-datatable.cmars .datatable-body .datatable-body-row:focus {
    background-color: #232837;
}

.ngx-datatable.cmars .datatable-body .datatable-body-row.active {
    background-color: #1483ff;
    color: #fff;
}

/*------------------------------------------ datatable-footer -----------------------------------------------------*/
.ngx-datatable.cmars .datatable-footer {
    background: #232837;
    color: #72809b;
    margin-top: -1px;
}

/*page-count*/
.ngx-datatable.cmars .datatable-footer .page-count {
    line-height: 50px;
    height: 50px;
    padding: 0 1.2rem;
}

.ngx-datatable.cmars .datatable-footer .datatable-pager {
    margin: 0 10px;
    vertical-align: top;
}

.ngx-datatable.cmars .datatable-footer .datatable-pager ul li {
    margin: 10px 0px;
}

.ngx-datatable.cmars .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.cmars .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: #455066;
    font-weight: bold;
}

.ngx-datatable.cmars .datatable-footer .datatable-pager a {
    height: 22px;
    min-width: 24px;
    line-height: 22px;
    padding: 0;
    border-radius: 3px;
    margin: 0 3px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    vertical-align: bottom;
    color: #72809b;
}

.ngx-datatable.cmars .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.cmars .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.cmars .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.cmars .datatable-footer .datatable-pager .datatable-icon-prev {
    font-size: 18px;
    line-height: 27px;
    padding: 0 3px;
}

.ngx-datatable.cmars .datatable-summary-row .datatable-body-row {
    background-color: #14171f;
}

.ngx-datatable.cmars .datatable-summary-row .datatable-body-row:hover {
    background-color: #14171f;
}

.ngx-datatable.cmars .datatable-summary-row .datatable-body-row .datatable-body-cell {
    font-weight: bold;
}
