/*IR 효과 의미있는 이미지의 대체 텍스트를 제공하는 경우*/
@charset "UTF-8";

.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

/*의미있는 이미지의 대체 텍스트로 이미지가 없어도(CSS 배경으로 처리 해도) 텍스틀 보여 주고자 할 때*/
.ir_wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/*대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공 할때*/
.ir_su {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    line-height: 0;
    text-indent: -9999px;


}
